<p appHighlightDirective>{{ managementService.getMoney() | moneyFormat }}</p>
<app-money-button-component [money]="managementService.getMoney()"></app-money-button-component>
<div class="container">
  <div class="buildings-container">
    @for (b of managementService.getBuildings(); track $index) {
      <app-building-component [building]="b"></app-building-component>
    }
  </div>
  <div class="box-container">
    @for(box of selectedBoxes$ | async; track box.id){
      <app-box [box]="box" (sellBox)="sellBox(box.price, box.id)"></app-box>
    }
  </div>
</div>
<div class="actions-container">
  <button matFab extended routerLink="/creation">
    <mat-icon>add</mat-icon>
    Create a new building!
  </button>
  <button matFab extended color="accent" (click)="buyBox()">
    Buy mystery box ({{ boxPrice | moneyFormat }})
  </button>
</div>
